fileserver_backend:
  - roots
  - gitfs

file_roots:
  base:
    - /srv/salt
  production:
    - /srv/salt/production
  devel:
    - /srv/salt/devel

gitfs_remotes:
  - git://github.com/masumndc1/salt-states.git
