fileserver_backend:
  - roots
  - gitfs

file_roots:
  base:
    - /srv/salt
  devel:
    - /srv/salt

gitfs_remotes:
  - https://github.com/masumndc1/monitoring-formula.git

gitfs_provider: gitpython
