{% if ansible_os_family == "Debian" %}
{% set major = ansible_facts['facter_os']['release']['major'] %}
{% set name = ansible_facts['facter_os']['name'] %}
# OpenVox 8 {{ major }} Repository
deb [signed-by=/usr/share/keyrings/openvox-keyring.gpg] https://apt.voxpupuli.org {{ name | lower }}{{ major }} openvox8
{% endif %}

{% if ansible_os_family in ["RedHat", "Suse"] %}
  {%- if ansible_os_family == "RedHat" -%}
    {%- set major = ansible_distribution_major_version | int -%}
  {%- else -%}
    {%- set major = 8 -%}
  {%- endif -%}

[openvox8]
name=OpenVox 8 el{{ major }} Repository
baseurl=https://yum.voxpupuli.org/openvox8/el/{{ major }}/$basearch
enabled=1
gpgcheck=1
gpgkey=https://yum.voxpupuli.org/GPG-KEY-openvox.pub
{% endif %}
