---
# The location to use for storing cached Git repos
:cachedir: '/var/cache/r10k/cache'
#
# # A list of git repositories to create
git:
  username: 'git'
  # default private key
  # private_key: '/root/.ssh/id_rsa.pub'
  # private key for this repo only
  # private_key: '/root/.ssh/private_repo_id'

# This will clone the git repository and instantiate an environment per
# branch in /usr/local/etc/puppet/environments
:sources:
  :code:
    {% if ansible_os_family == "Redhat" %}
    basedir: '/etc/puppetlabs/code/environments'
    {% elif ansible_os_family == "Debian" %}
    basedir: '/etc/puppet/code/environments'
    {% endif %}
    remote: 'https://github.com/{{ git_username }}/{{ git_repo }}.git'
