! -*- zebra -*-
!
! zebra sample configuration file
!
!
hostname Router
password zebra
enable password zebra
!
! Interface's description. 
!
interface ens33
  ip address {{ ansible_ens33.ipv4.address }}/24
  no link-detect
  no ipv6 nd suppress-ra
!
{% if not ansible_hostname == "centos7" %}
interface lxdfan0
  ip address {{ ansible_lxdfan0.ipv4.address }}/24
  no link-detect
  no ipv6 nd suppress-ra
!
{% endif %}
{% if ansible_hostname == "centos7" %}
ip route 0.0.0.0/0 192.168.2.1
{% endif %}
!
log file /var/log/quagga/zebra.log
