# nice document on this 
# https://www.cyberciti.biz/faq/create-ssh-config-file-on-linux-unix/
Host 240.217.* 240.215.* 240.211.*
  ProxyCommand ssh -F ssh.config -q masum@centos7.0-master nc %h 22

Host devel-centos* devel-ubuntu* prod*-centos* prod*-ubuntu*
  ProxyCommand ssh -F ssh.config -q masum@centos7.0-master nc %h 22
  user masum

Host freebsd*
  ProxyCommand ssh -F ssh.config -q masum@jumphost nc %h 22
  user masum

Host esxir320 vcenter320
  ProxyCommand ssh -F ssh.config -q masum@jumphost nc %h 22 
  user masum 

Host salt
  HostName controller1
  Port 8022
  User masum 

Host sa-dv1
  HostName controller1
  Port 8023
  User masum 

Host sa-dv2
  HostName controller1
  Port 8024
  User masum 

Host sa-pr1
  HostName controller1
  Port 8025
  User masum 

Host sa-pr2
  HostName controller1
  Port 8026
  User masum 

Host sa-pr3
  HostName controller1
  Port 8027
  User masum 

Host sa-pr4
  HostName controller1
  Port 8028
  User masum 

Host sa-pr5
  HostName controller1
  Port 8029
  User masum 

Host puppet
  HostName controller1
  Port 9022
  User masum 

Host pu-dv1
  HostName controller1
  Port 9023
  User masum 

Host pu-dv2
  HostName controller1
  Port 9024
  User masum 

Host pu-pr1
  HostName controller1
  Port 9025
  User masum 

Host pu-pr2
  HostName controller1
  Port 9026
  User masum 

Host pu-pr3
  HostName controller1
  Port 9027
  User masum 

# this node is inside a kubernetes cluster
# we will activate if needed. 
#Host jenkins
#  HostName controller1
#  Port 10022
#  User masum 

Host *
  ControlMaster auto
  ForwardAgent no
  ServerAliveInterval 60
  ServerAliveCountMax 30
  ControlPersist 30m
  #ControlPath ~/.ssh/controlmasters/%r@%h:%p
