# nice document on this 
# https://www.cyberciti.biz/faq/create-ssh-config-file-on-linux-unix/
Host 240.217.* 240.215.* 240.211.*
  ProxyCommand ssh -F ssh.config -q masum@centos7.0-master nc %h 22

Host devel-centos* devel-ubuntu* prod*-centos* prod*-ubuntu*
  ProxyCommand ssh -F ssh.config -q masum@centos7.0-master nc %h 22
  user masum

Host freebsd*
  ProxyCommand ssh -F ssh.config -q masum@jumphost nc %h 22
  user masum

Host esxir320 vcenter320
  ProxyCommand ssh -F ssh.config -q masum@jumphost nc %h 22 
  user masum 

Host salt
  HostName controller
  Port 2022
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host sa-dv1
  HostName controller
  Port 2031
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host sa-dv2
  HostName controller
  Port 2024
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host sa-dv3
  HostName controller
  Port 2030
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host sa-pr1
  HostName controller
  Port 2025
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host sa-pr2
  HostName controller
  Port 2026
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host sa-pr3
  HostName controller
  Port 2027
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host sa-pr4
  HostName controller
  Port 2028
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host sa-pr5
  HostName controller
  Port 2029
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host puppet
  HostName controller
  Port 9022
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host pu-dv1
  HostName controller
  Port 9023
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host pu-dv2
  HostName controller
  Port 9024
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host pu-pr1
  HostName controller
  Port 9025
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host pu-pr2
  HostName controller
  Port 9026
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host pu-pr3
  HostName controller
  Port 9027
  User masum 
  IdentityFile ~/.ssh/khabirtest

Host salt puppet sa* pu*
  StrictHostKeyChecking no

# this node is inside a kubernetes cluster
# we will activate if needed. 
#Host jenkins
#  HostName controller
#  Port 10022
#  User masum 
#  IdentityFile ~/.ssh/khabirtest

Host *
  ControlMaster auto
  ForwardAgent no
  ServerAliveInterval 60
  ServerAliveCountMax 30
  ControlPersist 30m
  #ControlPath ~/.ssh/controlmasters/%r@%h:%p
