# nice document on this 
# https://www.cyberciti.biz/faq/create-ssh-config-file-on-linux-unix/
Host net* sys* puppetmaster saltmaster
  ProxyCommand ssh -F ssh.config -q masum@jumphost nc %h 22
  user masum

Host esxir320 vcenter320
  ProxyCommand ssh -F ssh.config -q masum@jumphost nc %h 22
  user masum

Host saltmaster puppetmaster sys* net*
  StrictHostKeyChecking no

Host *
  ControlMaster auto
  ForwardAgent no
  ServerAliveInterval 60
  ServerAliveCountMax 30
  ControlPersist 30m
  #ControlPath ~/.ssh/controlmasters/%r@%h:%p
