[agent]
    confdir = /usr/local/etc/puppet
    codedir = /usr/local/etc/puppet
    vardir = /var/puppet
    name = agent
    logdir = /var/log/puppet
    statedir = /var/puppet/state
    rundir = /var/run/puppet
    libdir = /var/puppet/lib
    environmentpath = /usr/local/etc/puppet/environments/{{ environment }}
    diff_args = -u
    route_file = /usr/local/etc/puppet/routes.yaml
    node_terminus = rest
    data_binding_terminus = hiera
    hiera_config = /usr/local/etc/puppet/hiera.yaml
    catalog_terminus = rest
    catalog_cache_terminus = json
    facts_terminus = facter
    default_file_terminus = rest
    http_keepalive_timeout = 4
    http_connect_timeout = 120
    filetimeout = 15
    environment_timeout = 0
    preview_outputdir = /var/puppet/preview
    certname = {{ certname }}
    csr_attributes = /usr/local/etc/puppet/csr_attributes.yaml
    certdir = /var/puppet/ssl/certs
    publickeydir = /var/puppet/ssl/public_keys
    requestdir = /var/puppet/ssl/certificate_requests
    privatekeydir = /var/puppet/ssl/private_keys
    privatedir = /var/puppet/ssl/private
    passfile = /var/puppet/ssl/private/password
    hostcsr = /var/puppet/ssl/{{ certname }}.pem
    hostcert = /var/puppet/ssl/certs/{{ certname }}.pem
    hostprivkey = /var/puppet/ssl/private_keys/{{ certname }}.pem
    hostpubkey = /var/puppet/ssl/public_keys/{{ certname }}.pem
    localcacert = /var/puppet/ssl/certs/ca.pem
    hostcrl = /var/puppet/ssl/crl.pem
    certificate_revocation = chain
    digest_algorithm = md5
    supported_checksum_types = ["md5", "sha256", "sha384", "sha512", "sha224"]
    plugindest = /var/puppet/lib
    pluginfactdest = /var/puppet/facts.d
    localedest = /var/puppet/locales
    factpath = /var/puppet/lib/facter:/var/puppet/facts
    module_working_dir = /var/puppet/puppet-module
    module_skeleton_dir = /var/puppet/puppet-module/skeleton
    ca_name = Puppet CA: 121amd64-quarterly-job-04.nyi.freebsd.org
    cadir = /var/puppet/ssl/ca
    cacert = /var/puppet/ssl/ca/ca_crt.pem
    cakey = /var/puppet/ssl/ca/ca_key.pem
    capub = /var/puppet/ssl/ca/ca_pub.pem
    cacrl = /var/puppet/ssl/ca/ca_crl.pem
    caprivatedir = /var/puppet/ssl/ca/private
    csrdir = /var/puppet/ssl/ca/requests
    signeddir = /var/puppet/ssl/ca/signed
    capass = /var/puppet/ssl/ca/private/ca.pass
    serial = /var/puppet/ssl/ca/serial
    autosign = /usr/local/etc/puppet/autosign.conf
    ca_ttl = 157680000
    cert_inventory = /var/puppet/ssl/ca/inventory.txt
    config = /usr/local/etc/puppet/puppet.conf
    pidfile = /var/run/puppet/agent.pid
    masterhttplog = /var/log/puppet/masterhttp.log
    bucketdir = /var/puppet/bucket
    rest_authconfig = /usr/local/etc/puppet/auth.conf
    trusted_oid_mapping_file = /usr/local/etc/puppet/custom_trusted_oid_mapping.yaml
    basemodulepath = /usr/local/etc/puppet/modules:/usr/local/etc/puppet/modules
    yamldir = /var/puppet/yaml
    server_datadir = /var/puppet/server_data
    reportdir = /var/puppet/reports
    fileserverconfig = /usr/local/etc/puppet/fileserver.conf
    storeconfigs_backend = puppetdb
    devicedir = /var/puppet/devices
    deviceconfig = /usr/local/etc/puppet/device.conf
    node_name_value = 121amd64-quarterly-job-04.nyi.freebsd.org
    statefile = /var/puppet/state/state.yaml
    statettl = 2764800
    transactionstorefile = /var/puppet/state/transactionstore.yaml
    clientyamldir = /var/puppet/client_yaml
    client_datadir = /var/puppet/client_data
    classfile = /var/puppet/state/classes.txt
    resourcefile = /var/puppet/state/resources.txt
    puppetdlog = /var/log/puppet/puppetd.log
    srv_domain = nyi.freebsd.org
    runinterval = 1800
    ca_server = puppet
    ca_port = 8140
    agent_catalog_run_lockfile = /var/puppet/state/agent_catalog_run.lock
    agent_disabled_lockfile = /var/puppet/state/agent_disabled.lock
    splaylimit = 1800
    clientbucketdir = /var/puppet/clientbucket
    configtimeout = 120
    report_server = puppet
    report_port = 8140
    lastrunfile = /var/puppet/state/last_run_summary.yaml
    lastrunreport = /var/puppet/state/last_run_report.yaml
    graphdir = /var/puppet/state/graphs
    waitforcert = 120
