---
- hosts: localhost:hypervisors
  gather_facts: true
  become: yes

  tasks:
    - name: Install puppet bolt in macOS
      become: false
      community.general.homebrew:
        name: puppet-bolt
        state: present
      when: ansible_distribution == "MacOSX"

    - name: Install puppet key for RHEL based OS
      rpm_key:
        state: present
        key: https://yum.puppet.com/RPM-GPG-KEY-puppet
      when: ansible_os_family == "RedHat" or
        ansible_os_family == "Suse"

    - name: Install puppet release pkg in RHEL based OS
      yum:
        name: "{{ puppet_bolt_link[ansible_facts['os_family']] }}"
        state: present
        update_cache: true
      when: ansible_os_family == "RedHat"

    - name: Install puppet bolt pdk in RHEL based OS
      yum:
        name: ["puppet-bolt", "pdk"]
        state: present
        update_cache: true
      when: ansible_os_family == "RedHat"

    - name: Install puppet release pkg in Suse based OS
      zypper:
        name: "{{ puppet_bolt_link[ansible_facts['os_family']] }}"
        state: present
        update_cache: true
      when: ansible_os_family == "Suse"

    - name: Install puppet bolt pdk in Suse based OS
      zypper:
        name: ["puppet-bolt", "pdk"]
        state: present
        update_cache: true
      when: ansible_os_family == "Suse"

    - name: Install puppet release pkg in Debian OS
      apt:
        deb: "{{ puppet_bolt_link[ansible_facts['distribution']] }}"
        state: present
        update_cache: true
      when: ansible_distribution == "Debian"

    - name: Install puppet bolt pdk in Debian OS
      apt:
        name: ["puppet-bolt", "pdk"]
        state: present
        update_cache: true
      when: ansible_distribution == "Debian"

    - name: Install puppet release pkg in Ubuntu OS
      apt:
        deb: "{{ puppet_bolt_link[ansible_facts['distribution']] }}"
        state: present
        update_cache: true
      when: ansible_distribution == "Ubuntu"

    - name: Install puppet bolt pdk in Ubuntu OS
      apt:
        name: ["puppet-bolt", "pdk"]
        state: present
        update_cache: true
      when: ansible_distribution == "Ubuntu"
